* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(48, 131, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    overflow-y: hidden;

}

.mainContainer {
    position: relative;
    width: 250px;
    height: 350px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all 0.5s ease;

}

.card:hover {
    transform: rotateY(180deg);
}

.cardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    text-align: center;
    
}

.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #44eb39;
    color: #333;
    transform: rotateY(180deg);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 15rem;
    
}